<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://use.typekit.net/tbs3jam.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>TEON MEHTA || </title>
</head>
<body>
<div class="container">
    <nav>
        <input type="checkbox" id="nav" class="hidden">
        <label for="nav" class="nav-btn">
            <i></i>
            <i></i>
            <i></i>
        </label>
        <div class="logo">
            <a href="index.html">TEON MEHTA </a>
        </div>
        <div class="nav-wrapper">
            <ul>
                <li><a href="work.html">Projects</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="work.html">Work</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="PROJECT">
    <a class="PROJECT_LINK" href="">
        <div class="IMAGE">
            <div class="COVER_IMAGE"></div>
        </div>

        <div class="DETAILS">
            <div class="INNER_DETAILS">
                    <div class="DETAIL_TITLE">shiftt</div>
                    <div class="DETAIL_DATE">2019</div>
            </div>
        </div>
    </a>
</div>

<div class="PROJECT_TWO">
    <a class="PROJECT_LINK" href="">
        <div class="IMAGE">
            <div class="COVER_IMAGE"></div>
        </div>

        <div class="DETAILS">
            <div class="INNER_DETAILS">
                <div class="DETAIL_TITLE">axcess</div>
                <div class="DETAIL_DATE">2019</div>
            </div>
        </div>
    </a>
</div>

<div class="PROJECT_THREE">
    <a class="PROJECT_LINK" href="">
        <div class="IMAGE">
            <div class="COVER_IMAGE"></div>
        </div>

        <div class="DETAILS">
            <div class="INNER_DETAILS">
                <div class="DETAIL_TITLE">sportsnetwork</div>
                <div class="DETAIL_DATE">2019</div>
            </div>
        </div>
    </a>
</div>

<div class="PROJECT_FOUR">
    <a class="PROJECT_LINK" href="">
        <div class="IMAGE">
            <div class="COVER_IMAGE"></div>
        </div>

        <div class="DETAILS">
            <div class="INNER_DETAILS">
                <div class="DETAIL_TITLE">ns training system</div>
                <div class="DETAIL_DATE">2019</div>
            </div>
        </div>
    </a>
</div>



<script src="./work.bundle.js"></script>
</body>
</html>