@font-face {
  font-family: Nexa-Bold;
  src: url("/NexaBold.otf");
}

*{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}

%OPACITY{
  opacity: 0;
  animation: opacity 2s ease-in forwards ;
  animation-duration:1s;
  animation-delay: .5s;
}

@keyframes opacity {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//@keyframes background-change {
//    0%{
//        background-color: white;
//    }
//    100% {
//        background-color: #1b1b1b;
//    }
//}

//################################################  NAV   ##################################################################

nav{
  padding: 8px;
  margin-bottom: 10%;
  font-family: ff-tisa-sans-web-pro, sans-serif;

  //@extend %OPACITY;

  ul{
    text-align: right;
    li{
      display: inline-block;
      text-decoration: none!important;
      margin: 0 1% 0 0;
      //float: left;
      :not(:first-child){
        //margin-left: 48px;
      }
      :last-child{
        //margin-right: 26px;
      }

      a{
        display: inline-block;
        outline: none;
        //color: rgba(0,0,0,.38);
        color: #1b1b1b;
        text-transform: uppercase;
        text-decoration: none!important;
        font-size: 12px;
        letter-spacing: 1.2px;
        font-weight: 400 ;
      }
      a:hover{
        color: #999999;
      }
    }
  }
}



.logo{
  float: left;
  text-align: left;
  padding: 10px;
  //margin-left: 16px;
  //@extend %OPACITY;

  margin-top: 8px;
  a{
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;

  }
  a:hover{
    font-weight: bold;
  }
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}


@media screen and (max-width: 864px) {
  .logo {
    padding: 0;
  }

  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }

  .nav-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }

  .nav-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
}


//################################################   PROJECT 1  ###############################################################


.PROJECT {
  @extend %PROJECT_WHOLE;

  .PROJECT_LINK {
    @extend %PROJECT_LINK;

    .IMAGE {
      @extend %ODD_IMAGE;
      background-image: url("../SHIFT.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .DETAILS {
      @extend %ODD_DETAILS;

      .INNER_DETAILS{
        @extend %INNER_DETAILS;

        .DETAIL_TITLE{
          @extend %DETAIL_TITLE;
        }
        .DETAIL_DATE{
          @extend %DETAIL_DATE;
        }
      }

    }
  }
}


.PROJECT_TWO {
  @extend %PROJECT_WHOLE;

  .PROJECT_LINK {
    @extend %PROJECT_LINK;

    .IMAGE {
      @extend %EVEN_IMAGE;
      background-image: url("../AXCESS.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .DETAILS {
      @extend %EVEN_DETAILS;

      .INNER_DETAILS{
        @extend %INNER_DETAILS;

        .DETAIL_TITLE{
          @extend %DETAIL_TITLE;
        }
        .DETAIL_DATE{
          @extend %DETAIL_DATE;
        }
      }

    }
  }
}

.PROJECT_THREE {
  @extend %PROJECT_WHOLE;

  .PROJECT_LINK {
    @extend %PROJECT_LINK;

    .IMAGE {
      @extend %ODD_IMAGE;
      background-image: url("../ns.png");
      background-repeat: no-repeat;
      background-size: 105% 105%;
    }

    .DETAILS {
      @extend %ODD_DETAILS;

      .INNER_DETAILS{
        @extend %INNER_DETAILS;

        .DETAIL_TITLE{
          @extend %DETAIL_TITLE;
        }
        .DETAIL_DATE{
          @extend %DETAIL_DATE;
        }
      }

    }
  }
}


.PROJECT_FOUR {
  @extend %PROJECT_WHOLE;

  .PROJECT_LINK {
    @extend %PROJECT_LINK;

    .IMAGE {
      @extend %EVEN_IMAGE;
    }

    .DETAILS {
      @extend %EVEN_DETAILS;

      .INNER_DETAILS{
        @extend %INNER_DETAILS;

        .DETAIL_TITLE{
          @extend %DETAIL_TITLE;
        }
        .DETAIL_DATE{
          @extend %DETAIL_DATE;
        }
      }

    }
  }
}

.PROJECT_LINK:hover{
  %ODD_DETAILS{
    background-color: #222222;
    color: white;
  }
  %EVEN_DETAILS{
    background-color: #222222;
    color: white;
  }

  .DETAIL_TITLE{
    color: white!important;
  }
  .DETAIL_DATE{
    color: white!important;
   }
}



%PROJECT_WHOLE{
  @extend %OPACITY;
  width: 100%;
  height: 65vh;
  margin-top: 2%;
  margin-bottom: 2%;
}

%ODD_DETAILS{
  width: 100%;
  grid-column: 13/20;
  grid-row: 1/13;
  background-color: #f2f2f2;
  transition: 0.5s ease;
}

%ODD_IMAGE{
  width: 100%;
  grid-column: 2/13;
  grid-row: 1/13;
  background-color: #222222;
}

%EVEN_IMAGE{
  width: 100%;
  grid-column: 9/20;
  grid-row: 1/13;
  background-color: #222222;
}

%EVEN_DETAILS{
  width: 100%;
  grid-column: 2/9;
  grid-row: 1/13;
  background-color: #f2f2f2;
  transition: 0.5s ease;
}

%PROJECT_LINK{
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100%;
  text-decoration: none;
}


%INNER_DETAILS{
  transform: translateY(-50%);
  position: relative;
  top: 45%;
  width: 100%;
  text-align: center;
}


%DETAIL_TITLE{
  color: #333333;
  float: none;
  font-family: Nexa-Bold, sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

%DETAIL_DATE {
  font-family: azo-sans-web, sans-serif;
  font-weight: lighter;
  font-style: normal;
  color: #999999;
  font-size: 12px;
  line-height: 3em;
  margin: auto;
  text-align: center;
  width: 100%;
}

//################################################  FO0TER    ####################################################


.BACK-TO-TOP{
  text-align: center;
  a{
    text-decoration: none;
    color: #1b1b1b;
    font-size: .7em;
    font-style: normal;
    font-weight: 300;


    .arrow{
      margin-right: 10px;
    }
  }
  a:hover{
    //color: #999999;
    font-weight: 500;
  }
}



footer{
  position:absolute;
  padding-top: 5%;
  width:100%;
  height:10%;
  margin: 0 auto;
  @extend %OPACITY;
  .social{
    text-align: center;
    li{
      text-decoration: none;
      display: inline;
      padding-bottom: 30px;
      padding-left: 0;
      padding-right: 15px;

      a{
        color: #1b1b1b;
      }
      a:hover{
        color: #999999;
      }
    }

  }

  .text{
    text-align: center;
    font-size: .7em;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    color: #1b1b1b;

  }
  .text:hover{
    font-weight: 500;
  }
}

//################################################  MOBILE    ####################################################


@media only screen and (max-width: 600px) {

  .PROJECT {


    .PROJECT_LINK {

      .IMAGE {
        width: 100%;
        grid-column: 1/21;
        grid-row: 1/10;
      }

      .DETAILS {
        width: 100%;
        grid-column: 1/21;
        grid-row: 10/13;
        .INNER_DETAILS{


          .DETAIL_TITLE{

          }
          .DETAIL_DATE{

          }
        }

      }
    }
  }

  .PROJECT_TWO {


    .PROJECT_LINK {

      .IMAGE {
        width: 100%;
        grid-column: 1/21;
        grid-row: 1/10;
      }

      .DETAILS {
        width: 100%;
        grid-column: 1/21;
        grid-row: 10/13;
        .INNER_DETAILS{


          .DETAIL_TITLE{

          }
          .DETAIL_DATE{

          }
        }

      }
    }
  }

  .PROJECT_THREE {


    .PROJECT_LINK {

      .IMAGE {
        width: 100%;
        grid-column: 1/21;
        grid-row: 1/10;
      }

      .DETAILS {
        width: 100%;
        grid-column: 1/21;
        grid-row: 10/13;
        .INNER_DETAILS{


          .DETAIL_TITLE{

          }
          .DETAIL_DATE{

          }
        }

      }
    }
  }

  .PROJECT_FOUR {


    .PROJECT_LINK {

      .IMAGE {
        width: 100%;
        grid-column: 1/21;
        grid-row: 1/10;
      }

      .DETAILS {
        width: 100%;
        grid-column: 1/21;
        grid-row: 10/13;
        .INNER_DETAILS{


          .DETAIL_TITLE{

          }
          .DETAIL_DATE{

          }
        }

      }
    }
  }


}


