<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>PUT YOUR INFO IN MY PHONE</h1>
<form action="/contacts" method="post">
    <input type="text" name="name" class="name" placeholder="Whats your Name?">
    <input type="text" name="instagram" class="instagram" placeholder="Whats your Twitter?">
    <input type="text" name="twitter" class="twitter" placeholder="Whats your Instagram?">
    <input type="text" name="facebook" class="facebook" placeholder="Whats your Facebook?">
    <input type="submit">
</form>


<a href="/contacts">BACK TO ALL THE SMART CONTACTS</a>
</body>
</html>